.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.paginator {
  width: 600px;
}

.container-paginator {
  margin-bottom: 5rem;
}