<mat-toolbar color="primary" class="mat-toolbar-fixed-top">
  <div class="logo" routerLink="/">
    <img class="app-logo" src="/assets/teia-logo.svg" width="40" height="40" alt="logo teia"/>
    <span>App Teia</span>
  </div>
  <span class="spacer"></span>
  <div class="cart-icon-container">
    <mat-icon routerLink="shopping">shopping_cart</mat-icon>
    <div class="cart-badge" *ngIf="numberOfItems > 0">{{ numberOfItems }}</div>
  </div>
</mat-toolbar>

<app-filter (receiveProducts)="receiveProducts($event)"></app-filter>

<main class='main'>
  <ng-container *ngFor="let produto of produtos">
    <app-card [product]="produto" (buyProduct)="buyProduct($event)"></app-card>
  </ng-container>
</main>

<div class="container-paginator"
style="display: flex; justify-content: end; align-items: end; flex-wrap: wrap; margin-right: 40px;"
>
  <mat-paginator #paginator
                class="paginator"
                (page)="handlePageEvent($event)"
                [length]="length"
                [pageSize]="pageSize"
                [disabled]="disabled"
                [showFirstLastButtons]="showFirstLastButtons"
                [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                [hidePageSize]="hidePageSize"
                [pageIndex]="pageIndex"
                aria-label="Select page">
  </mat-paginator>
</div>

<footer>
  <div classe="footer">
    <div style="padding: 1rem; background-color: #3f51b5; color: white;">
      Copyright © 2023<br>
      Todos os direitos reservados.
  </div>
</div>
</footer>



